@using GestorTareas.Data
@using System.Diagnostics
@using GestorTareas.Data.Repositories
@using GestorTareas.Data.Enums;
@inject TareaRepository tareaRepository
@inject LocalStorageRepository localStorageRepository

<div class="d-flex justify-content-center">
	<a href="GestionarTarea" class="btn btn-primary mb-3">
		<span class="oi oi-plus me-2" /> Agregar Tarea
	</a>
</div>

<div class="table-responsive">
	<table class="table table-sm table-hover table-bordered align-middle centered-text">
		<thead class="align-middle">
			<tr>
				<th>Nombre</th>
				<th>Materia</th>
				<th>Comentarios</th>
				<th>Fecha</th>
				<th>Hora</th>
				<th>
					Tiempo Restante
					<div class="btn-group btn-group-sm ms-2" role="group">
						<input type="radio" class="btn-check" name="btnSort" id="btnSortAscending" @onclick="() => SortTareas(SortOrder.Ascending)" checked />
						<label class="btn btn-outline-primary" for="btnSortAscending">
							<span class="material-icons" style="transform: rotate(180deg)">filter_list</span>
						</label>

						<input type="radio" class="btn-check" name="btnSort" id="btnSortDescending" @onclick="() => SortTareas(SortOrder.Descending)" />
						<label class="btn btn-outline-primary" for="btnSortDescending">
							<span class="material-icons">filter_list</span>
						</label>
					</div>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<Virtualize TItem="Tarea" Items="Tareas" Context="tarea">
				<ItemContent>
					<tr class="@(tarea.TiempoRestante.Finalizo ? "table-danger" : "")">
						<td>@tarea.Nombre</td>
						<td>@tarea.Materia</td>
						<td>
							<textarea class="no-resize" readonly="readonly" disabled="disabled">@tarea.Comentarios</textarea>
						</td>
						<td>@tarea.Fecha.ToString("ddd dd MMM yyyy")</td>
						<td>@tarea.Fecha.ToString($"{FormatoHora}:mm")</td>
						<td>@tarea.TiempoRestante.Diferencia.ToString("dd' días 'hh':'mm':'ss")</td>
						<td>
							<div class="btn-group" role="group">
								<a href="GestionarTarea/@tarea.ID.ToString()" class="btn btn-success oi oi-pencil"></a>
								<button class="btn btn-danger oi oi-trash" @onclick="async () => await RemoveTarea(tarea)"></button>
							</div>
						</td>
					</tr>
				</ItemContent>
			</Virtualize>
		</tbody>
	</table>
</div>
